<footer class="footer">
    <div class="footer__container">
    <section>
        <h2 class="footer__title"></h2>
        <p class="footer__about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis ultrices dui, et venenatis diam. Proin quam dolor, commodo ac nibh a, fermentum tristique nunc. Praesent id neque ultricies, hendrerit ex eu, venenatis elit. Integer egestas nulla vitae varius sodales. Nulla quis tempor metus, vitae congue velit. 
        </p>
    </section>
    <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
            <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
            <li><i class="fa-brands fa-whatsapp"></i>(00) 0000-0000</li>
        </ul>
    </address>
 </div>
 <section class="footer__copyright">
    &copy; Todos os direitos reservados
 </section>
</footer>